<div class="div1">

  <button type="button" class="btn btn-secondary" routerLink = "/stats" routerLinkActive="active">Back</button>

<ng-container *ngIf="stat" id="name">
  <h1>Player: {{playersMap.get(stat.playerId)}}</h1>
</ng-container>

<div class="total_stats">
  <div class="totals">
    <h2>Career Totals</h2>
    <p>Points: {{totalPoints}}</p>
    <p>Rebounds: {{totalRebounds}}</p>
    <p>Assists: {{totalAssists}}</p>
    <p>Total Steals: {{totalSteals}}</p>
    <p>Total Blocks: {{totalBlocks}}</p>
  </div>

  <div class="totals">
    <h2>Careers Averages</h2>
    <p>Points: {{averagePoints.toFixed(1)}}</p>
    <p>Rebounds: {{averageRebounds.toFixed(1)}}</p>
    <p>Assists: {{averageAssists.toFixed(1)}}</p>
    <p>Steals: {{averageSteals.toFixed(1)}}</p>
    <p>Blocks: {{averageBlocks.toFixed(1)}}</p>
  </div>

  <div class="totals">
    <h2>Careers Records</h2>
    <p>Points: {{mostPoints}}</p>
    <p>Rebounds: {{mostRebounds}}</p>
    <p>Assists: {{mostAssists}}</p>
    <p>Steals: {{mostSteals}}</p>
    <p>Blocks: {{mostBlocks}}</p>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="2022">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Season</th>
          <th>points</th>
          <th>Rebounds</th>
          <th>Assists</th>
          <th>Steals</th>
          <th>Blocks</th>
          <th>FGA</th>
          <th>FGM</th>
          <th>FG%</th>
          <th>3PA</th>
          <th>3PM</th>
          <th>3P%</th>
          <th>FTA</th>
          <th>FTM</th>
          <th>FT%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stat of stats">
        <tr *ngIf="(stat.yourDate | date: 'yyyy') == ('2022')">
          <td>{{teamsMap.get(stat.teamId)}}</td>
          <td>{{stat.yourDate | date: 'yyyy'}}</td>
          <td>{{stat.points}}</td>
          <td>{{stat.rebounds}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.steals}}</td>
          <td>{{stat.blocks}}</td>
          <td>{{stat.feildGoalsAttempted}}</td>
          <td>{{stat.feildGoalsMade}}</td>
          <td>{{((stat.feildGoalsMade / stat.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.threePointersAttempted}}</td>
          <td>{{stat.threePointerMade}}</td>
          <td>{{((stat.threePointerMade/stat.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.freeThrowsAttempted}}</td>
          <td>{{stat.freeThrowsMade}}</td>
          <td>{{((stat.freeThrowsMade/stat.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="2021">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Date</th>
          <th>points</th>
          <th>Rebounds</th>
          <th>Assists</th>
          <th>Steals</th>
          <th>Blocks</th>
          <th>FGA</th>
          <th>FGM</th>
          <th>FG%</th>
          <th>3PA</th>
          <th>3PM</th>
          <th>3P%</th>
          <th>FTA</th>
          <th>FTM</th>
          <th>FT%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stat of stats">
        <tr *ngIf="(stat.yourDate | date: 'yyyy') == ('2021')">
          <td>{{teamsMap.get(stat.teamId)}}</td>
          <td>{{stat.yourDate | date: 'yyyy'}}</td>
          <td>{{stat.points}}</td>
          <td>{{stat.rebounds}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.steals}}</td>
          <td>{{stat.blocks}}</td>
          <td>{{stat.feildGoalsAttempted}}</td>
          <td>{{stat.feildGoalsMade}}</td>
          <td>{{((stat.feildGoalsMade / stat.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.threePointersAttempted}}</td>
          <td>{{stat.threePointerMade}}</td>
          <td>{{((stat.threePointerMade/stat.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.freeThrowsAttempted}}</td>
          <td>{{stat.freeThrowsMade}}</td>
          <td>{{((stat.freeThrowsMade/stat.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="2020">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Date</th>
          <th>points</th>
          <th>Rebounds</th>
          <th>Assists</th>
          <th>Steals</th>
          <th>Blocks</th>
          <th>FGA</th>
          <th>FGM</th>
          <th>FG%</th>
          <th>3PA</th>
          <th>3PM</th>
          <th>3P%</th>
          <th>FTA</th>
          <th>FTM</th>
          <th>FT%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stat of stats">
        <tr *ngIf="(stat.yourDate | date: 'yyyy') == ('2020')">
          <td>{{teamsMap.get(stat.teamId)}}</td>
          <td>{{stat.yourDate | date: 'yyyy'}}</td>
          <td>{{stat.points}}</td>
          <td>{{stat.rebounds}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.steals}}</td>
          <td>{{stat.blocks}}</td>
          <td>{{stat.feildGoalsAttempted}}</td>
          <td>{{stat.feildGoalsMade}}</td>
          <td>{{((stat.feildGoalsMade / stat.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.threePointersAttempted}}</td>
          <td>{{stat.threePointerMade}}</td>
          <td>{{((stat.threePointerMade/stat.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.freeThrowsAttempted}}</td>
          <td>{{stat.freeThrowsMade}}</td>
          <td>{{((stat.freeThrowsMade/stat.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="2019">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Date</th>
          <th>points</th>
          <th>Rebounds</th>
          <th>Assists</th>
          <th>Steals</th>
          <th>Blocks</th>
          <th>FGA</th>
          <th>FGM</th>
          <th>FG%</th>
          <th>3PA</th>
          <th>3PM</th>
          <th>3P%</th>
          <th>FTA</th>
          <th>FTM</th>
          <th>FT%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stat of stats">
        <tr *ngIf="(stat.yourDate | date: 'yyyy') == ('2019')">
          <td>{{teamsMap.get(stat.teamId)}}</td>
          <td>{{stat.yourDate | date: 'yyyy'}}</td>
          <td>{{stat.points}}</td>
          <td>{{stat.rebounds}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.steals}}</td>
          <td>{{stat.blocks}}</td>
          <td>{{stat.feildGoalsAttempted}}</td>
          <td>{{stat.feildGoalsMade}}</td>
          <td>{{((stat.feildGoalsMade / stat.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.threePointersAttempted}}</td>
          <td>{{stat.threePointerMade}}</td>
          <td>{{((stat.threePointerMade/stat.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.freeThrowsAttempted}}</td>
          <td>{{stat.freeThrowsMade}}</td>
          <td>{{((stat.freeThrowsMade/stat.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="2018">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Season</th>
          <th>points</th>
          <th>Rebounds</th>
          <th>Assists</th>
          <th>Steals</th>
          <th>Blocks</th>
          <th>FGA</th>
          <th>FGM</th>
          <th>FG%</th>
          <th>3PA</th>
          <th>3PM</th>
          <th>3P%</th>
          <th>FTA</th>
          <th>FTM</th>
          <th>FT%</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stat of stats">
        <tr *ngIf="(stat.yourDate | date: 'yyyy') == ('2018')">
          <td>{{teamsMap.get(stat.teamId)}}</td>
          <td>{{stat.yourDate | date: 'yyyy'}}</td>
          <td>{{stat.points}}</td>
          <td>{{stat.rebounds}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.steals}}</td>
          <td>{{stat.blocks}}</td>
          <td>{{stat.feildGoalsAttempted}}</td>
          <td>{{stat.feildGoalsMade}}</td>
          <td>{{((stat.feildGoalsMade / stat.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.threePointersAttempted}}</td>
          <td>{{stat.threePointerMade}}</td>
          <td>{{((stat.threePointerMade/stat.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          <td>{{stat.freeThrowsAttempted}}</td>
          <td>{{stat.freeThrowsMade}}</td>
          <td>{{((stat.freeThrowsMade/stat.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>



<!-- <pre>
  {{statList | json}}
</pre> -->


</div>
