#add-success-alert,
#update-success-alert,
#delete-success-alert{
  display: none;
}

#add-success-alert,
#update-success-alert,
#delete-success-alert{
  animation-name: fadeInAndOut;
  animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInAndOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

table {
  width: 100%;
}

#maindiv{
  padding-left: 200px;
  padding-top: 50px;
}


@media screen and (max-width: 700px) {

  #maindiv{
    padding-left: 0px;
  }


}
@media screen and (max-width: 900px) and (orientation: landscape) {

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-playerId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-teamId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-yourDate{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-points{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-rebounds{
  flex: 0 0 25% !important;
  max-width: 60px !important;
}

.mat-column-assists{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-steals{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-blocks{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-feildGoalsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-feildGoalsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn1{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointersAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointerMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn2{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn3{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn4{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}



}

@media screen and (max-width: 900px) and (orientation: portrait) {

  #maindiv{
    padding-top: 0px;
  }

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-playerId{
  flex: 0 0 25% !important;
  max-width: 100px !important;
}

.mat-column-teamId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-yourDate{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-points{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-rebounds{
  flex: 0 0 25% !important;
  max-width: 60px !important;
}

.mat-column-assists{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-steals{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-blocks{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-feildGoalsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-feildGoalsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-customColumn1{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-threePointersAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-threePointerMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-customColumn2{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-freeThrowsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-freeThrowsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-customColumn3{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-customColumn4{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}


}

