<div class="table-responsive-xl"  style="padding-left: 200px;">


<!-- Add Stat trigger modal -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal"
data-bs-target="#staticBackdrop"
(click)="modalAdd()"
>
  Add Stat
</button>


<!-- <table class="table table-hover">
  <thead>
    <th>Player Name</th>
    <th>Team Name</th>
    <th>Date</th>
    <th>Points</th>
    <th>Rebounds</th>
    <th>Assists</th>
    <th>Steals</th>
    <th>Blocks</th>
    <th>FGA</th>
    <th>FGM</th>
    <th>FG%</th>
    <th>3PA</th>
    <th>3PM</th>
    <th>3P%</th>
    <th>FTA</th>
    <th>FTM</th>
    <th>FT%</th>
    <th>Options</th>
  </thead>
        <tbody>
          <tr *ngFor="let item of statList$|async">
            <td>{{playersMap.get(item.playerId)}}</td>
            <td>{{teamsMap.get(item.teamId)}}</td>
            <td>{{item.yourDate}}</td>
            <td>{{item.points}}</td>
            <td>{{item.rebounds}}</td>
            <td>{{item.assists}}</td>
            <td>{{item.steals}}</td>
            <td>{{item.blocks}}</td>
            <td>{{item.feildGoalsAttempted}}</td>
            <td>{{item.feildGoalsMade}}</td>
            <td>{{((item.feildGoalsMade / item.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
            <td>{{item.threePointersAttempted}}</td>
            <td>{{item.threePointerMade}}</td>
            <td>{{((item.threePointerMade/item.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
            <td>{{item.freeThrowsAttempted}}</td>
            <td>{{item.freeThrowsMade}}</td>
            <td>{{((item.freeThrowsMade/item.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
            <td>
              <button class="btn btn-outline-primary me-2 mb-1"
              (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger me-2 mb-1"
              (click)="delete(item)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->

      <div class="table-responsive-xl">
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" >

          <ng-container matColumnDef="playerId" >
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</th>
            <td mat-cell *matCellDef="let element" (click)="navigateToProfile(element.playerId)" style="cursor: pointer"> {{playersMap.get(element.playerId)}}</td>
          </ng-container>
          <ng-container matColumnDef="teamId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Team Name</th>
            <td mat-cell *matCellDef="let element"> {{teamsMap.get(element.teamId)}}</td>
          </ng-container>
          <ng-container matColumnDef="yourDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.yourDate}}</td>
          </ng-container>
          <ng-container matColumnDef="points">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Points</th>
            <td mat-cell *matCellDef="let element"> {{element.points}}</td>
          </ng-container>
          <ng-container matColumnDef="rebounds">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Rebounds</th>
            <td mat-cell *matCellDef="let element"> {{element.rebounds}}</td>
          </ng-container>
          <ng-container matColumnDef="assists">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Assists</th>
            <td mat-cell *matCellDef="let element"> {{element.assists}}</td>
          </ng-container>
          <ng-container matColumnDef="steals">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Steals</th>
            <td mat-cell *matCellDef="let element"> {{element.steals}}</td>
          </ng-container>
          <ng-container matColumnDef="blocks">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Blocks</th>
            <td mat-cell *matCellDef="let element"> {{element.blocks}}</td>
          </ng-container>
          <ng-container matColumnDef="feildGoalsAttempted">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>FGA</th>
            <td mat-cell *matCellDef="let element"> {{element.feildGoalsAttempted}}</td>
          </ng-container>
          <ng-container matColumnDef="feildGoalsMade">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>FGM</th>
            <td mat-cell *matCellDef="let element"> {{element.feildGoalsMade}}</td>
          </ng-container>
          <ng-container matColumnDef="customColumn1">
            <th mat-header-cell *matHeaderCellDef>FG%</th>
            <td mat-cell *matCellDef="let element">{{((element.feildGoalsMade / element.feildGoalsAttempted)*100).toFixed(1) + "%"}}</td>
          </ng-container>
          <ng-container matColumnDef="threePointersAttempted">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>3PA</th>
            <td mat-cell *matCellDef="let element"> {{element.threePointersAttempted}}</td>
          </ng-container>
          <ng-container matColumnDef="threePointerMade">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>3PM</th>
            <td mat-cell *matCellDef="let element"> {{element.threePointerMade}}</td>
          </ng-container>
          <ng-container matColumnDef="customColumn2">
            <th mat-header-cell *matHeaderCellDef>3P%</th>
            <td mat-cell *matCellDef="let element"> {{((element.threePointerMade/element.threePointersAttempted)*100).toFixed(1) + "%"}}</td>
          </ng-container>
          <ng-container matColumnDef="freeThrowsAttempted">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>FTA</th>
            <td mat-cell *matCellDef="let element"> {{element.freeThrowsAttempted}}</td>
          </ng-container>
          <ng-container matColumnDef="freeThrowsMade">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>FTM</th>
            <td mat-cell *matCellDef="let element"> {{element.freeThrowsMade}}</td>
          </ng-container>
          <ng-container matColumnDef="customColumn3">
            <th mat-header-cell *matHeaderCellDef>FT%</th>
            <td mat-cell *matCellDef="let element"> {{((element.freeThrowsMade/element.freeThrowsAttempted)*100).toFixed(1) + "%"}}</td>
          </ng-container>
          <ng-container matColumnDef="customColumn4">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-outline-primary me-2 mb-1"
              (click)="modalEdit(element)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger me-2 mb-1"
              (click)="delete(element); reloadCurrentPage()"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
        <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[2, 5, 10, 25, 100]"
                    >
          </mat-paginator>


      </div>


<div class="alert alert-success" role="alert" id="add-success-alert">
  Stat successfully added!
</div>

<div class="alert alert-success" role="alert" id="update-success-alert">
  Stat successfully updated!
</div>

<div class="alert alert-success" role="alert" id="delete-success-alert">
  Stat successfully deleted!
</div>


<!-- Show Teams modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Teams</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngFor="let type of teamsList$|async">{{type.id}} - {{type.teamName}}</p>
      </div>
    </div>
  </div>
</div>



<!-- Add or edit stat Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalClose(); reloadCurrentPage()" id="add-edit-modal-close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-stat [stat]="stat" *ngIf="activateAddEditStatComponent"></app-add-edit-stat>
      </div>
    </div>
  </div>
</div>

</div>
