/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 10;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: grey;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

table{
  width: 100%;
}

#div{
  padding-left: 200px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: 900px) {
  .sidebar{
    padding-top: 55px;
  }

}


@media screen and (max-width: 700px) {

  #maindiv{
    padding-left: 0px;
  }


}
@media screen and (max-width: 900px) and (orientation: landscape) {

  #div{
    padding-top: 50px;
  }

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;

}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-playerId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-teamId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-yourDate{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-points{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-rebounds{
  flex: 0 0 25% !important;
  max-width: 60px !important;
}

.mat-column-assists{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-steals{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-blocks{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-feildGoalsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-feildGoalsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn1{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointersAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointerMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn2{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn3{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn4{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}



}

@media screen and (max-width: 900px) and (orientation: portrait) {

  #maindiv{
    padding-top: 0px;
  }

  #div{
    padding-left: 0;
  }

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-playerId{
  flex: 0 0 25% !important;
  max-width: 100px !important;
}

.mat-column-teamId{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-yourDate{
  flex: 0 0 25% !important;
  max-width: 80px !important;
  display: none;
}

.mat-column-points{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-rebounds{
  flex: 0 0 25% !important;
  max-width: 60px !important;
}

.mat-column-assists{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-steals{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-blocks{
  flex: 0 0 25% !important;
  max-width: 50px !important;
}

.mat-column-feildGoalsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-feildGoalsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn1{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointersAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-threePointerMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn2{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsAttempted{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-freeThrowsMade{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn3{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}

.mat-column-customColumn4{
  flex: 0 0 25% !important;
  max-width: 80px !important;
}


}
