<div id="maindiv">
  <div class="sidebar">
    <a class="nav-link" routerLink = "/stats" routerLinkActive="active">Stats</a>
    <a class="nav-link" routerLink = "/TotalStats" routerLinkActive="active">Total Stats</a>
    <a class="nav-link" routerLink = "/AverageStats" routerLinkActive="active">Average Stats</a>
    <a class="nav-link" routerLink = "/records" routerLinkActive="active">Records</a>
  </div>

  <div class="table-responsive-xl"  id="div">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" >

      <ng-container matColumnDef="playerId" sticky>
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</th>
        <td mat-cell *matCellDef="let element"> {{playersMap.get(element.playerId)}}</td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let element"> {{(element.points / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="rebounds">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Rebounds</th>
        <td mat-cell *matCellDef="let element"> {{(element.rebounds / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="assists">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Assists</th>
        <td mat-cell *matCellDef="let element"> {{(element.assists / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="steals">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Steals</th>
        <td mat-cell *matCellDef="let element"> {{(element.steals / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="blocks">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Blocks</th>
        <td mat-cell *matCellDef="let element"> {{(element.blocks / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="feildGoalsAttempted">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>FGA</th>
        <td mat-cell *matCellDef="let element"> {{(element.feildGoalsAttempted / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="feildGoalsMade">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>FGM</th>
        <td mat-cell *matCellDef="let element"> {{(element.feildGoalsMade / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="customColumn1">
        <th mat-header-cell *matHeaderCellDef>FG%</th>
        <td mat-cell *matCellDef="let element">{{(((element.feildGoalsMade / element.gamesPlayed) / (element.feildGoalsAttempted / element.gamesPlayed))*100).toFixed(1) + "%"}}</td>
      </ng-container>
      <ng-container matColumnDef="threePointersAttempted">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>3PA</th>
        <td mat-cell *matCellDef="let element"> {{(element.threePointersAttempted / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="threePointerMade">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>3PM</th>
        <td mat-cell *matCellDef="let element"> {{(element.threePointerMade / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="customColumn2">
        <th mat-header-cell *matHeaderCellDef>3P%</th>
        <td mat-cell *matCellDef="let element"> {{(((element.threePointerMade / element.gamesPlayed)/(element.threePointersAttempted / element.gamesPlayed))*100).toFixed(1) + "%"}}</td>
      </ng-container>
      <ng-container matColumnDef="freeThrowsAttempted">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>FTA</th>
        <td mat-cell *matCellDef="let element"> {{(element.freeThrowsAttempted / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="freeThrowsMade">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>FTM</th>
        <td mat-cell *matCellDef="let element"> {{(element.freeThrowsMade / element.gamesPlayed).toFixed(0)}}</td>
      </ng-container>
      <ng-container matColumnDef="customColumn3">
        <th mat-header-cell *matHeaderCellDef>FT%</th>
        <td mat-cell *matCellDef="let element"> {{(((element.freeThrowsMade / element.gamesPlayed)/(element.freeThrowsAttempted / element.gamesPlayed))*100).toFixed(1) + "%"}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator #paginator
                [pageSize]="100"
                [pageSizeOptions]="[2, 5, 10, 25, 100]"
                >
      </mat-paginator>


  </div>
</div>
