<div class="sidebar">
  <a class="nav-link" routerLink = "/stats" routerLinkActive="active">Stats</a>
  <a class="nav-link" routerLink = "/TotalStats" routerLinkActive="active">Total Stats</a>
  <a class="nav-link" routerLink = "/AverageStats" routerLinkActive="active">Average Stats</a>
  <a class="nav-link" routerLink = "/records" routerLinkActive="active">Records</a>
</div>

<div style="margin-left: 200px;">




<h1>Points: {{recordPoints}}</h1>
<h2>{{playersMap.get(pointsPerson)}}</h2>
<h1>Rebounds: {{recordRebounds}}</h1>
<h2>{{playersMap.get(reboundsPerson)}}</h2>
<h1>Assists: {{recordAssists}}</h1>
<h2>{{playersMap.get(assistsPerson)}}</h2>
<h1>Steals: {{recordSteals}}</h1>
<h2>{{playersMap.get(stealsPerson)}}</h2>
<h1>Blocks: {{recordBlocks}}</h1>
<h2>{{playersMap.get(blocksPerson)}}</h2>
<h1>3PM: {{record3pm}}</h1>
<h2>{{playersMap.get(tpmPerson)}}</h2>























</div>
